.hero{
    position:relative;
    min-height:var(--h-full-viewpoert);
    padding-top:var(--space-huge-minus);
    display:flex;
    align-items:center;
}
  .hero .bg{
    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    filter:var(--filter-hero-bg);
}
  .hero .overlay{
    position:absolute;
    inset:0;
    background:var(--gradient-hero-overlay);
}
  .hero .content{
    position:relative;
    z-index:3;
    padding:var(--space-xxl) 0;
}
  .hero h1{
    font-size:var(--hero-size-hero-h1);
    margin:0 0 var(--space-s-minus);
}
