img{
    display:block;
    max-width:100%
}
  image-with-fallback,
  image-with-fallback img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block
  }
.icon{
  display:inline-block;
  width:20px;
  height:20px;
  object-fit:contain;
  vertical-align:middle;
  filter: invert(1) brightness(2);
}
.icon[width="18"]{ width:18px; height:18px; filter: invert(1) brightness(2); }